.news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    position: relative;
    background: white;
    border-radius: 2rem;
}

.news-card .badge {
    font-size: 0.5rem;
    font-weight: 600;
    background: whitesmoke;
    border-radius: 1rem;
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.news-card img{
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.news-card .no-img{
    width: 100%;
    height: 12rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.news-card .news-content{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0 0.5rem;
}

.news-card .news-content h4{
    margin: 0.2rem 0 0 0 ;
}

.news-card .news-content p{
    margin: 0.3rem 0 0 0 ;
    font-size: 0.9rem;
    color: rgb(80, 75, 75);
}

.news-card .news-content .news-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0 0 0 ;
}

.news-card .news-content .news-details .author-time{
color: black;
}


.news-card a {
    margin: 1rem;
    font-size: 16px;
    font-weight: 500;
    background: rgb(117, 131, 213);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: rgb(117, 131, 213) solid 0.1rem;
    color: white;
    text-decoration: none;
    transition: 0.2s ;
}

.news-card a:hover{
    text-decoration: none;
    color:blue;
    background: whitesmoke;
    border: blue solid 0.1rem;
}





