.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 2px whitesmoke;
    padding: 0.3rem 1.9rem;
  position: sticky;
    top: 71.56px;
    right: 0;
    z-index: 999;
    background: white;
}


.filters .filter-items{
    display: flex;
    list-style: none;
    align-items: center;
}

.filters .filter-items li{
    margin: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    background: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.filters .filter-items li.active{
    color: white;
    background: rgb(17, 45, 199);
    transition: 0.2s ease-in-out;
}