.news-bg{
    background: whitesmoke;
}

.news-place{
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-place .heading{
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.news-place .news-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

}